* {
    font-family: monospace;
    font-size: 12px;
    min-height: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

window#waybar {
    /* background-color: #16161e; */
    background-color: rgba(26, 27, 38, 0.95);
    color: #c0caf5;
}

#workspaces {
    background: transparent;
}

#workspaces button {
    padding: 0 6px;
    background: transparent;
    color: #565f89;
}

#workspaces button.active {
    color: #7aa2f7;
}

#workspaces button.urgent {
    color: #f7768e;
}

#clock,
#tray,
#pulseaudio,
#cpu,
#memory,
#battery {
    padding: 0 10px;
    background: transparent;
    color: #c0caf5;
}

#pulseaudio.muted {
    color: #565f89;
}

#battery.warning {
    color: #e0af68;
}

#battery.critical {
    color: #f7768e;
}
